[submodule "Neurex/vendor/spdlog"]
	path = Neurex/vendor/spdlog
	url = https://github.com/edvn0/spdlog.git
[submodule "Neurex/vendor/imgui"]
	path = Neurex/vendor/imgui
	url = https://github.com/edvn0/imgui.git
[submodule "Neurex/vendor/glm"]
	path = Neurex/vendor/glm
	url = https://github.com/edvn0/glm.git